<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    <script src="../js/moduls.js" type="module">
            
    </script>
</head>
<body>

    <header class='header'>
        <h1 class="title">发现导航 - 精选使用导航网站</h1>
        <h3 class="title">这里收录多达<span id='count'>1000</span>个优质网站，助您工作、学习和生活</h3>

        <form action="" class="parent">
            <div class="type condition material-icons">
                默认
            </div>
            <span class="searchs">
                <!-- <span class="logo"></span> -->
                <input class="search" placeholder="站内搜索">
                <span class="search-lcon material-icons">search</span>
            </span>
        </form>
    </header>


    <main class = 'domain'>
        <div class="nav"></div>
        <div class="wraaper">
            <div class="sidebar"></div>
            <aside class="site-box"></aside>
        </div>
    </main>
    <div class="category">
        <div title="默认" class="ant-select-item-option-selected">默认</div>
        <div title="标签">标签</div>
        <div title="描述">描述</div>
        <div title="链接">链接</div>
        <div title="当前">当前</div>
    </div>

    <template class='navTemp'>
        <div>
           
        </div>
    </template>
    
<script>
    
</script>
</body>
</html>