* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font: 14px/1.5 -apple-system, BlinkSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, Helevetica, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Source Han Sans CN, sans-serif;
}
body {
  min-width: 100vw;
  min-height: 100vh;
}
body .header {
  width: 100vw;
  height: 300px;
  background-image: url("https://raw.sevencdn.com/xjh22222228/nav/image/sim-wallpaper.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
body .header .title {
  text-align: center;
  color: #fff;
}
body .header h1 {
  line-height: 2;
  font-size: 40px;
}
body .header h3 {
  font-size: 15px;
}
body .header .parent {
  width: 500px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  line-height: 1.5;
  border: 1px solid transparent;
}
body .header .parent .condition {
  width: 100px;
  height: 100%;
  background-color: #EFEFEF;
  border-radius: 2px 0 0 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
body .header .parent .condition::after {
  content: 'expand_more';
  padding-left: 10px;
}
body .header .parent .searchs {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
body .header .parent .searchs .search {
  width: 300px;
  height: 100%;
  border: 1px solid #fff;
  outline: none;
  font-size: 18px;
}
body .header .parent .searchs .search-lcon {
  width: 50px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #d9d9d9;
  border-radius: 0 2px 2px 0;
  text-align: center;
  padding-top: 7px;
  border: none;
}
body .header .parent .searchs:hover {
  outline: 1px solid #9c88ff;
}
body .category {
  display: none;
  width: 100px;
  background-color: #EFEFEF;
  box-sizing: border-box;
}
body .category > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
}
body .category > div:hover {
  background-color: #fff;
}
body .open {
  display: block;
}
body .stop {
  display: none;
}
body .ant-select-item-option-selected {
  font-weight: bold;
}
body .domain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .domain .nav {
  margin: 15px;
}
body .domain .nav div {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
  color: #000;
}
body .domain .nav div:active {
  color: red;
}
body .domain .wraaper {
  margin: 10px;
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
body .domain .wraaper .sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  margin: 0px 10px;
}
body .domain .wraaper .sidebar div {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: hidden;
  color: #000;
  margin-left: 40px;
}
body .domain .wraaper .site-box {
  width: 100%;
  height: 300px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body .domain .wraaper .site-box div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  color: blue;
}
body .domain .wraaper .site-box div span {
  font-size: 20px;
}
body .domain .wraaper .site-box div i {
  display: flex;
  align-items: center;
}
